<a href="https://colab.research.google.com/github/ElenaNtm/power-thefts-investigation/blob/main/dates_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Libraries

In [ ]:
import pandas as pd 
import numpy as np
import math
import operator 
from datetime import datetime

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Data

In [ ]:
path = "/content/drive/MyDrive/HEDNO/Edo_ola/train_data.csv"
train = pd.read_csv(path)
train.head()

<ipython-input-3-7d74907de051>:2: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv(path)

,Unnamed: 0,ACCT_NBR,SUCCESSOR,VOLTAGE,PARNO,XRHSH,CONTRACT_CAPACITY,ACCT_CONTROL,ACCT_WGS84_X,ACCT_WGS84_Y,TOTAL_SUPPLIER,LAST_SUPPLIER,SUPPLIER,START_DATE,END_DATE,TOTAL_MS_METER_NBR,BS_RATE,target
0,0,000A31FE38C6F648845941B642E287FE0200000000004A...,1,LOW,0,2,12.0,0,"53,422551543686701","19,592757873078753",1.0,Δ,Δ,2000-04-07,2020-07-02,1.0,21,0
1,1,000A31FE38C6F648845941B642E287FE0200000000004A...,1,LOW,0,2,12.0,0,"53,422551543686701","19,592757873078753",1.0,Δ,Δ,2000-04-07,2020-07-02,1.0,21,0
2,2,000A31FE38C6F648845941B642E287FE0200000000004A...,1,LOW,0,2,12.0,0,"53,422551543686701","19,592757873078753",1.0,Δ,Δ,2000-04-07,2020-07-02,1.0,21,0
3,3,000A31FE38C6F648845941B642E287FE0200000000004A...,1,LOW,0,2,12.0,0,"53,422551543686701","19,592757873078753",1.0,Δ,Δ,2000-04-07,2020-07-02,1.0,21,0
4,4,000A31FE38C6F648845941B642E287FE0200000000008D...,1,LOW,0,2,12.0,0,"53,407108521588633","19,569743639932696",1.0,Δ,Δ,1995-10-06,1998-12-03,1.0,10,0

In [ ]:
train.drop(['Unnamed: 0'], axis = 1, inplace = True)

### Fixing the date problem Don't run fixed in new file

In [ ]:
#train.iloc[:,12]

In [ ]:
#for index in range(train.shape[0]):
#  train.iloc[index,12] = str(train.iloc[index,12]).replace('/','')

In [ ]:
#for index in range(train.shape[0]):
#  train.iloc[index,13] = str(train.iloc[index,13]).replace('/','')

In [ ]:
#train.head()

In [ ]:
#train['INITIAL_DETECTION_DATE']= pd.to_datetime(train['INITIAL_DETECTION_DATE'],format='%d%m%Y',errors = 'coerce').dt.date

In [ ]:
#train['DETECTION_DATE']= pd.to_datetime(train['DETECTION_DATE'],format='%d%m%Y',errors = 'coerce').dt.date

In [ ]:
#train.head()

# Testing k-bins for dates- Maybe more bins

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer

In [ ]:
#train.drop(['SUPPLIER'], axis = 1, inplace = True)

In [ ]:
train.head()

In [ ]:
for i in range(len(train)) :
  train.at[i, 'START_DATE'] = train.at[i, 'START_DATE'].replace("-","")
#train_data.head()

In [ ]:
est = KBinsDiscretizer(n_bins=1000, encode='ordinal', strategy='uniform')
train['START_DATE'] = est.fit_transform(np.array(train['START_DATE']).reshape(-1,1))
#train_data.head()

In [ ]:
train['START_DATE'].describe()

count    1.234509e+06
mean     6.317403e+02
std      2.307449e+02
min      0.000000e+00
25%      4.360000e+02
50%      6.140000e+02
75%      8.690000e+02
max      9.990000e+02
Name: START_DATE, dtype: float64

In [ ]:
path = "/content/drive/MyDrive/HEDNO/Edo_ola/test_data.csv"
test = pd.read_csv(path)
test.head()

,Unnamed: 0,ACCT_NBR,SUCCESSOR,VOLTAGE,PARNO,XRHSH,CONTRACT_CAPACITY,ACCT_CONTROL,ACCT_WGS84_X,ACCT_WGS84_Y,TOTAL_SUPPLIER,LAST_SUPPLIER,SUPPLIER,START_DATE,END_DATE,TOTAL_MS_METER_NBR,BS_RATE
0,0,000A31FE38C6F648845941B642E287FE0200000000006D...,1,LOW,0,1,12,0,"53,451030471299404","19,600792390085896",1.0,Δ,Δ,2001-02-08,2021-03-08,1.0,10.0
1,1,000A31FE38C6F648845941B642E287FE0200000000006D...,1,LOW,0,1,12,0,"53,451030471299404","19,600792390085896",1.0,Δ,Δ,2001-02-08,2021-03-08,1.0,10.0
2,2,000A31FE38C6F648845941B642E287FE0200000000006D...,1,LOW,0,1,12,0,"53,451030471299404","19,600792390085896",1.0,Δ,Δ,2001-02-08,2021-03-08,1.0,10.0
3,3,000A31FE38C6F648845941B642E287FE0200000000006D...,1,LOW,0,1,12,0,"53,451030471299404","19,600792390085896",1.0,Δ,Δ,2001-02-08,2021-03-08,1.0,10.0
4,4,000A31FE38C6F648845941B642E287FE0200000000006D...,1,LOW,0,1,12,0,"53,451030471299404","19,600792390085896",1.0,Δ,Δ,2001-02-08,2021-03-08,1.0,10.0

In [ ]:
for i in range(len(test)) :
  test.at[i, 'START_DATE'] = test.at[i, 'START_DATE'].replace("-","")
#test_data.head()

In [ ]:
test['START_DATE'] = est.transform(np.array(test['START_DATE']).reshape(-1,1))
#test_data.head()

In [ ]:
test.head()

,Unnamed: 0,ACCT_NBR,SUCCESSOR,VOLTAGE,PARNO,XRHSH,CONTRACT_CAPACITY,ACCT_CONTROL,ACCT_WGS84_X,ACCT_WGS84_Y,TOTAL_SUPPLIER,LAST_SUPPLIER,SUPPLIER,START_DATE,END_DATE,TOTAL_MS_METER_NBR,BS_RATE
0,7,000A31FE38C6F648845941B642E287FE0200000000006D...,1,LOW,0,1,12,0,"53,451030471299404","19,600792390085896",1.0,Δ,Δ,459.0,2021-03-08,1.0,10.0
1,8,000A31FE38C6F648845941B642E287FE0200000000006E...,1,LOW,0,1,12,0,"53,423690495301905","19,615367380585742",1.0,Δ,Δ,307.0,2001-11-29,1.0,10.0
2,24,000A31FE38C6F648845941B642E287FE020000000001BF...,2,LOW,2,1,25,0,"53,466063546765042","19,606420323080993",1.0,Δ,Δ,921.0,2022-09-16,1.0,11.0
3,25,000A31FE38C6F648845941B642E287FE02000000000357...,1,LOW,0,1,12,0,"53,466930013537464","19,594032532171479",1.0,Δ,Δ,332.0,2016-09-21,1.0,10.0
4,26,000A31FE38C6F648845941B642E287FE02000000000536...,1,LOW,0,1,12,0,"53,46529071739247","19,608223560803914",1.0,Δ,Δ,307.0,2013-07-30,1.0,10.0

same for measurment date

In [ ]:
for i in range(len(test)) :
  test.at[i, 'END_DATE'] = test.at[i, 'END_DATE'].replace("-","")
#train_data.head()

In [ ]:
est = KBinsDiscretizer(n_bins=1000, encode='ordinal', strategy='uniform')
test['END_DATE'] = est.fit_transform(np.array(test['END_DATE']).reshape(-1,1))

In [ ]:
test['END_DATE'].describe()

count    137534.000000
mean        719.285653
std         304.791779
min           0.000000
25%         481.000000
50%         850.000000
75%         999.000000
max         999.000000
Name: END_DATE, dtype: float64

In [ ]:
for i in range(len(train)) :
  train.at[i, 'END_DATE'] = train.at[i, 'END_DATE'].replace("-","")

In [ ]:
train['END_DATE'] = est.transform(np.array(train['END_DATE']).reshape(-1,1))

In [ ]:
train.head()

,ACCT_NBR,SUCCESSOR,VOLTAGE,PARNO,XRHSH,CONTRACT_CAPACITY,ACCT_CONTROL,ACCT_WGS84_X,ACCT_WGS84_Y,TOTAL_SUPPLIER,LAST_SUPPLIER,START_DATE,END_DATE,TOTAL_MS_METER_NBR,BS_RATE,target
0,000A31FE38C6F648845941B642E287FE0200000000004A...,1,LOW,0,2,12.0,0,"53,422551543686701","19,592757873078753",1.0,Δ,434.0,925.0,1.0,21,0
1,000A31FE38C6F648845941B642E287FE0200000000008D...,1,LOW,0,2,12.0,0,"53,407108521588633","19,569743639932696",1.0,Δ,307.0,111.0,1.0,10,0
2,000A31FE38C6F648845941B642E287FE0200000000008D...,3,LOW,2,2,25.0,0,"53,407108521588633","19,569743639932696",1.0,Δ,717.0,628.0,1.0,10,0
3,000A31FE38C6F648845941B642E287FE0200000000008D...,4,LOW,2,2,25.0,0,"53,407108521588633","19,569743639932696",1.0,Δ,742.0,738.0,1.0,10,0
4,000A31FE38C6F648845941B642E287FE0200000000008D...,5,LOW,2,2,25.0,0,"53,407108521588633","19,569743639932696",1.0,Δ,844.0,999.0,1.0,21,0

In [ ]:
test.head()

,Unnamed: 0,ACCT_NBR,SUCCESSOR,VOLTAGE,PARNO,XRHSH,CONTRACT_CAPACITY,ACCT_CONTROL,ACCT_WGS84_X,ACCT_WGS84_Y,TOTAL_SUPPLIER,LAST_SUPPLIER,SUPPLIER,START_DATE,END_DATE,TOTAL_MS_METER_NBR,BS_RATE
0,7,000A31FE38C6F648845941B642E287FE0200000000006D...,1,LOW,0,1,12,0,"53,451030471299404","19,600792390085896",1.0,Δ,Δ,459.0,960.0,1.0,10.0
1,8,000A31FE38C6F648845941B642E287FE0200000000006E...,1,LOW,0,1,12,0,"53,423690495301905","19,615367380585742",1.0,Δ,Δ,307.0,222.0,1.0,10.0
2,24,000A31FE38C6F648845941B642E287FE020000000001BF...,2,LOW,2,1,25,0,"53,466063546765042","19,606420323080993",1.0,Δ,Δ,921.0,999.0,1.0,11.0
3,25,000A31FE38C6F648845941B642E287FE02000000000357...,1,LOW,0,1,12,0,"53,466930013537464","19,594032532171479",1.0,Δ,Δ,332.0,777.0,1.0,10.0
4,26,000A31FE38C6F648845941B642E287FE02000000000536...,1,LOW,0,1,12,0,"53,46529071739247","19,608223560803914",1.0,Δ,Δ,307.0,665.0,1.0,10.0

In [ ]:
test.drop(['SUPPLIER','Unnamed: 0'], axis=1, inplace=True)

In [ ]:
path = "/content/drive/MyDrive/HEDNO/Edo_ola/test_data.csv"
with open(path, 'w', encoding = 'utf-8-sig') as f:
  test.to_csv(f)

In [ ]:
path = "/content/drive/MyDrive/HEDNO/Edo_ola/train_data.csv"
with open(path, 'w', encoding = 'utf-8-sig') as f:
  train.to_csv(f)